.task {
  background-color: #ccc;
  color: #000;
  margin-bottom: 30px;
  padding: 12px;
  position: relative;
  &.done {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: green;
    }
  }
  &__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    cursor: pointer;
  }
  &__category {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  &__description {
    margin-bottom: 20px;
  }
}

img {
  width: 16px;
  cursor: pointer;
}
